In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("image-data.csv")

In [3]:
df.head()

                     image_path  target
0    ../dataset/train/G/G39.jpg     6.0
1  ../dataset/train/G/G1545.jpg     6.0
2  ../dataset/train/G/G1040.jpg     6.0
3   ../dataset/train/G/G614.jpg     6.0
4   ../dataset/train/G/G312.jpg     6.0

In [7]:
df.image_path = df.image_path.apply(lambda x: "/".join(x.split('/')[3:]))

In [8]:
df.head()

    image_path  target
0    G/G39.jpg     6.0
1  G/G1545.jpg     6.0
2  G/G1040.jpg     6.0
3   G/G614.jpg     6.0
4   G/G312.jpg     6.0

In [9]:
df.to_csv("image-data-file.csv", index=False)

In [10]:
dfx = pd.read_csv("image-data-file.csv")

In [11]:
dfx.head()

    image_path  target
0    G/G39.jpg     6.0
1  G/G1545.jpg     6.0
2  G/G1040.jpg     6.0
3   G/G614.jpg     6.0
4   G/G312.jpg     6.0